<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 
  <br/>

  <div *ngIf="!isLoggedin">
    <ion-item>
      <ion-label color="primary" floating>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <button ion-button block outline secondary (click)="signInWith()"> Login </button>
    <button ion-button block outline secondary (click)="Register()"> Register </button>
    <button ion-button block secondary (click)="signInWithFacebook()"> <ion-icon name="logo-facebook"></ion-icon> </button>
    <button ion-button block secondary (click)="signInWithGoogle()">  <ion-icon name="logo-google"></ion-icon></button>
    <button ion-button block secondary (click)="signInWithGithub()">  <ion-icon name="logo-github"></ion-icon></button>
    
    <br/>
  </div>
  <div *ngIf="isLoggedin">
      Hello!, {{name}}
      <button  ion-button secondary (click)="signOut()">Logout </button>
  </div>

</ion-content>
